[submodule "Homework/HW1-JordanWu1997"]
	path = Homework/HW1-JordanWu1997
	url = /HW1-JordanWu1997/
[submodule "HW1-JordanWu1997"]
	path = HW1-JordanWu1997
	url = https://github.com/NTHU-Phys-Qubit/HW1-JordanWu1997
